<!-- Contenedor principal de la vista de registro -->
<div class="auth-container">
  <h2>Register</h2>

  <!-- Formulario de registro de usuario -->
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- Campo de entrada para el nombre de usuario -->
    <input type="text" placeholder="Usuario" formControlName="username" />

    <!-- Campo para contraseña nueva -->
    <input type="password" placeholder="Contraseña" formControlName="password" />

    <!-- Campo para confirmar la contraseña -->
    <input type="password" placeholder="Confirmar Contraseña" formControlName="confirmPassword" />

    <!-- Mensaje de error si las contraseñas no coinciden -->
    <div *ngIf="registerForm.errors?.['mismatch']" class="message-error">
      Las contraseñas no coinciden.
    </div>

    <!-- Boton para enviar el formulario de registro -->
    <button type="submit">Registrarse</button>
  </form>

  <!-- Mensaje de exito o error tras el intento de registro -->
  <div *ngIf="message" [class.message-success]="isSuccess" [class.message-error]="!isSuccess">
    {{ message }}
  </div>

  <!-- Enlace para volver al login si ya tiene cuenta -->
  <a routerLink="/">¿Ya tienes una cuenta? Inicia sesion</a>
</div>
