<div class="modal" *ngIf="open">
  <div class="modal-content">
    <h3>Reagrupar Ejércitos</h3>

    <label>Desde:</label>
    <select [(ngModel)]="fromCountryId">
      <option [ngValue]="null" disabled selected>Elige país de origen</option>
      <option *ngFor="let c of countries" [ngValue]="c.id" [disabled]="c.armies <= 1">{{c.name}}</option>
    </select>
    <span *ngIf="fromCountry">Ejércitos actuales: <b>{{ fromCountry.armies }}</b></span>
    <br>

    <label>A:</label>
    <select [(ngModel)]="toCountryId" [disabled]="!fromCountryId">
      <option [ngValue]="null" disabled selected>Elige país destino</option>
      <option *ngFor="let c of toCountryOptions" [ngValue]="c.id">{{c.name}}</option>
    </select>
    <span *ngIf="toCountry">Ejércitos actuales: <b>{{ toCountry.armies }}</b></span>

    <br>
    <label>Ejércitos a mover:</label>
    <input type="number" [(ngModel)]="armies"
           [min]="1" [max]="armiesMax"
           [disabled]="!fromCountryId || !toCountryId">
    <span *ngIf="fromCountry && toCountry">
      <br>
      <span>Ejércitos al finalizar:</span>
      <br>
      <b>{{ fromCountry.name }}: {{ armiesFinalOrigen }}</b>
      <br>
      <b>{{ toCountry.name }}: {{ armiesFinalDestino }}</b>
    </span>

    <div class="buttons">
      <button (click)="onConfirm()" [disabled]="!fromCountryId || !toCountryId || armies < 1 || armies > armiesMax">Confirmar</button>
      <button (click)="onClose()">Cancelar</button>
    </div>
  </div>
</div>

