<div class="waiting-room-card" *ngIf="gameData">
  <h2>GAME DATA</h2>
  <p><strong>ID:</strong> {{ gameData.gameId }}</p>
  <p><strong>Date:</strong> {{ gameData.localDateTime }}</p>
  <p><strong>Difficulty:</strong> {{ gameData.difficultyLevel }}</p>
  <p><strong>State:</strong> {{ gameData.status }}</p>
  <p><strong>Turn:</strong> {{ gameData.turnState }}</p>
  <p><strong>Number of players:</strong> {{ gameData.numberPlayer }}</p>
  <div class="button-group">

    <button class="start-btn"
            [disabled]="!canStartGame()"
            (click)="startGame()">
      Start game
    </button>

    <button class="cancel-btn" (click)="cancelGame()">Cancel game</button>
  </div>
</div>


<div class="sword-column left">
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
</div>

<div class="sword-column right">
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
  <div class="sword-icon">⚔</div>
</div>
