<!-- Contenedor principal de la vista de login -->
<div class="auth-container">
  <h2>Login</h2>

  <!-- Formulario de inicio de sesion -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Campo de entrada para el nombre de usuario -->
    <input type="text" placeholder="Usuario" formControlName="username" />

    <!-- Campo de entrada para la contraseña -->
    <input type="password" placeholder="Contraseña" formControlName="password" />

    <!-- Boton para enviar el formulario de login -->
    <button type="submit">Iniciar sesion</button>
  </form>

  <!-- Mensaje de error si las credenciales son incorrectas -->
  <div *ngIf="errorMessage" class="message-error">
    {{ errorMessage }}
  </div>

  <!-- Enlace a la vista de registro -->
  <a routerLink="/register">¿No estas registrado?</a>
</div>
