body {
  margin: 0;
  font-family: 'Georgia', cursive;
  background-color: #1a4da5; /* Fondo azul profundo */
  color: #000;
}

a {
  color: #d6c284;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

